<h2>List of users:</h2>

<ul class="users">
  <li *ngFor="let user of users">
    <span class="badge">{{user.username}}</span>
      <label> {{user.email}} </label>
  </li>
</ul>

<h2>Adding new user form:</h2>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">

        <div class="form-group input-group-lg">
            <input class="form-control" placeholder="Username" formControlName="username">
            <input class="form-control" placeholder="Password" formControlName="password">
            <input class="form-control" placeholder="Email" formControlName="email">
            <input class="form-control" placeholder="Location" formControlName="location">
        </div>

        <div class="form-group">
            <button class="btn btn-danger btn-block btn-lg">Add user</button>
        </div>
    </form>
</div>
